<div class="col-3 col-md" style="margin-left: 3px !important; border: 1px solid black;">
    <div class="row margentitulo">
        <div class="" style="height: 32px; text-align: left; background: black ; color: white; width: 100%;">
            <h6 style="margin-top: 6px; "> Construir CAPTCHA</h6>
        </div>
    </div>
    <div class="row " >
        <div class="col-12 text-left">
            <div class="" id="rejillacaptcha" style=" display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                &&rejillacaptcha
            </div>
        </div>
    </div>
</div>

<div class="col-3 col-md " style="margin-left: 1px; border: 1px solid black;">
    <div class="row">
        <div class="" style="height: 32px; text-align: left; background: black ; color: white; width: 100%;">
            <h6 style="margin-top: 6px;"> Lista de CAPTCHAS</h6>
        </div>
    </div>
    <div class="row recuadro" id="listanombres">
        &&listanombres
    </div>
</div>

<div class="ioriginals col-3 col-md" style="margin-left: 1px; border: 1px solid black;">
    <div class="row">
        <div class="" style="height: 32px; text-align: left; background: black ; color: white; width: 100%;">
            <h6 style="margin-top: 6px;"> Imagenes disponibles</h6>
        </div>
    </div>
    <div class="row " id="listaimagenes"
        style="margin-top: 5px; display: flex; justify-content: center; align-items: center;">
        &&listaimagenes
    </div>
</div>
<div class="ioriginals col-2 col-md" style="margin-left: 1px; border: 1px solid black;">
    <div class="row ">
        <div class="" style="height: 32px; text-align: left; background: black ; color: white; width: 100%;">
            <h6 style="margin-top: 6px;" class="margentitulo"> Prueba</h6>
        </div>
    </div>
    <div class="row recuadro" id="pruebacaptcha" style="padding: auto;">
        &&pruebacaptcha

    </div>

</div>